body {
  font-family: "Robot", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    width: 100%;
    text-align: center;
  }

  .form {
    width: 100%;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        margin: 5px;
        text-transform: uppercase;

        input {
          height: 20px;
        }

        select {
          height: 28px;
        }

        button {
          align-self: center;
          margin-top: 10px;
          height: 30px;
          width: 100px;
          text-transform: uppercase;
        }
      }
    }
  }

  .books {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;

    .book {
      padding: 5px 10px 20px 10px;
      border: solid 1px #ccc;

      .btn-delete {
        cursor: pointer;
        background-color: rgb(240, 132, 132);
        border: 1px solid red;
        color: white;
        margin: 5px;
      }

      .btn-read {
        cursor: pointer;
        background-color: rgb(132, 193, 240);
        border: 1px solid blue;
        color: white;
      }
    }
  }
}
